* {
  /* margin: 0;
    padding: 0; */
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  height: 100%;
  height: calc(100% - 10px);
}

header {
  position: fixed;
}



header,
main {
  margin-block: 10px;
}

:root {
  --primary-color: #0d2b45;
  --secondary-color: #203c56;
  --terd-color: #d08159;
  --fort-color: #ffaa5e;
}

.navbar-brand:hover {
  opacity: 0.3;
}

.btn,
.btn-primary {
  background-color: var(--primary-color);
  color: #fffefc;
  border: none;
}

.btn-primary:hover {
  background-color: var(--terd-color);
  color: #fffefc;
  border: none;
  box-shadow: 4px 3px 3px var(--primary-color);
}

.row>div {
  /* border: 1px solid blue; */
}

.col-3,
.col-10 {
  height: calc(20vh - 10px);
}

.col-3 {
  background-color: var(--primary-color);
}

main .row .col,
#email,
#nome,
textarea.form-control {
  padding-block: 10px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}


textarea {
  margin-bottom: 1rem;
}

header .row .col {
  margin-left: 10px;
}

.col-4 {
  padding: 5px;
}

row {
  margin: 0.5rem;
}

main .col-2 {
  height: calc(60vh - 10px);
  margin-inline: 10px;
}

main .red {
  margin: 0;
}

main .row .col {
  margin-left: 10px;
}


svg {
  font-size: 30px;
  justify-content: center;
  align-content: center;
}

img {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
}

.submit {
  width: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;


}

footer .div row {
  background-color: var(--primary-color);
}

footer .col {
  height: calc(20vh - 20px);
}

footer div.teste {
  margin-inline: 15px;
}