body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  min-width: 15%;
  height: calc(100% - 10px);
}

header {
  position: fixed;
}

header,
main {
  margin-block: 10px;
}

.container-fluid {
  padding-left: 0;
}

.navbar-nav {
  padding-left: 0;
}

.navbar-brand:hover {
  opacity: 0.3;
}

.area-login {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.login-tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 27, 27);
  border-radius: 10px;
  width: 355px;
  height: 320px;
  padding: 35px;
}

.login-tela form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login-tela input {
  margin-top: 10px;
  background-color: #252a34;
  padding-left: 10px;
  color: #cbd0f7;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px;
}

.login-tela svg {
  width: 80px;
  height: auto;
}

.input::placeholder {
  color: #cbd0f7;
  font-size: 14px;
}

.login-btn {
  display: block;
  background-color: var(--primary-color);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

p {
  color: #cbd0f7;
}

a {
  color: var(--fort-color);
  text-decoration: none;
  margin-left: 10px;
}


img {
  height: 5rem;
  width: 4rem;
  border-radius: 0.5rem;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

footer .div row {
  background-color: var(--primary-color);
}

footer .col {
  height: calc(20vh - 20px);
}

footer div.teste {
  margin-inline: 15px;
}