body,
html {
  font-family: "Roboto";
  max-width: 100%;
  background-color: rgb(219, 219, 219);

  @media (568px) {
    height: 128vh;
  }
}

header {
  position: fixed;
}

:root {
  --primary-color: #0d2b45;
  --secondary-color: #203c56;
  --terd-color: #d08159;
  --fort-color: #ffaa5e;
}

.logo {
  height: 4rem;
  width: 3rem;
  border-radius: 0.5rem;
}

.navbar-brand:hover {
  opacity: 0.3;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

footer .div row {
  background-color: var(--primary-color);
}

footer .col {
  height: calc(20vh - 25px);
}

footer div.teste {
  margin-inline: 15px;
}

svg {
  font-size: 30px;
  justify-content: center;
  align-content: center;
}

.btn,
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  margin-inline: 4px;
}

.btn-primary:hover {
  background-color: var(--terd-color);

  border: none;
  box-shadow: 4px 3px 3px var(--primary-color);
  transition: 300ms;
}

.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active {
  box-shadow: 0 0 0 0.25rem #f5cd1d;
  background-color: var(--terd-color);
}

/* {
  box-shadow: 4px 4px 6px -4px;
} */

.footer-center {
  display: flex;
  justify-content: center;
  margin-block: 0.7rem;
}

.card {
  box-shadow: 4px 4px 6px -4px;
}

.card:hover {
  box-shadow: 0 0 3px 2px var(--fort-color);
  transition: 300ms;
}

.page-link {
  box-shadow: 3px 1px 6px 0px var(--primary-color);
}