* {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    max-width: 100%;
    min-width: 15%;
    height: calc(100% - 10px);
}


.navbar-brand:hover {

    opacity: 0.3;

}

header,
main {
    margin-block: 10px;

}

.row>div {
    border: 1px solid blue;

}

.col-3,
.col-10 {
    height: calc(20vh - 10px);
}

.col-3 {

    background-color: var(--primary-color)
}

.col-4 {
    padding: 5px;
}


row {
    margin: 0.5rem;
}

main .col-2 {

    height: calc(60vh - 10px);
    margin-inline: 10px;
}

main .red {

    margin: 0;
}

main .row .col {

    margin-left: 10px;
}